*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.main{
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/93da5c27-be66-427c-8b72-5cb39d275279/94eb5ad7-10d8-4cca-bf45-ac52e0a052c0/IN-en-20240226-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    height: 100vh;
    position: relative;
    text-align: center;
    background-size: max(1200px , 100vw);
    background-repeat: no-repeat;
    background-position: center center;

}
.main .box{
    height: 100vh;
    width: 100%;
    opacity: 0.6;
    position: absolute;
    background-color: black;
    top: 0;
   
}
.nav{
    display: flex;

    margin: auto;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    padding-top: 25px;

}
.navlogo{
    position: relative;
    z-index: 1;
    
}
.navbutton{
    position: relative;
    z-index: 1;
}
.button1:hover{
    border: 2px solid white;
}
.button1{
    height: 40px;
    width: 120px;
    background-color: transparent;
    color: white;
    font-size: 15px;
    border: 0.2px solid gray;
    border-radius: 0.2cm;
    font-weight: 500;

}
.button2{
    font-size: 15px;
    background-color: red;
    border-radius: 0.2cm;
    color: white;
    font-weight: 700;
    width: 80px;
    height: 35px;
}
.button2:hover{
  background-color: rgb(134, 1, 1);
}
.container{
    color: white;
    margin-top: 150px;
    position: relative;
    margin: 1;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.text{
    padding: 10px;
    display: flex;
    gap: 5px;
    /* position: relative; */
}
.text1{
    font-size: 4em;
    font-weight: 900;
      
    
}
.text5{
    font-size: 4em;
    font-weight: 900;     
}
.text2{
    font-size: 1.4em;
    font-weight: 900;
}
.text3{
    font-size: 18px;
}
.text4{
 
}

.button3{
    width: 450px;
    height: 53px;
    border-radius: 0.2cm;
    background-color: transparent;
    color: white;
    font-size: 20px;
    border: solid white;
}
::placeholder{
    color: white;
    padding: 10px;
}
.button4{
    width: 200px;
    height: 55px;
    font-size: 20px;
    font-weight: 900;
    color: white;
    background-color: red;
    border-radius: 0.2cm;
    border: none;
   

}
.button4:hover{
        background-color: rgb(134, 1, 1);
}

.partition{
    height: 2px;
    align-items: center;
    border: solid 0.25rem transparent;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    border-bottom: none;
    background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
    /* border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%; */
    background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
}
.mid{
    color: white;
    /* margin: auto; */
}
.box1{
    margin: auto;
    width: 75vw;
    height: auto;
    border: solid white;
    margin-top: 7em;
    padding: 40px;
    background: linear-gradient(93deg, #43172b, #230a25);
    border-radius: 0.5cm;
    border: none;
}
.box1:hover{
    transform: scaleX(1.05) scaleY(1.05);
    filter: brightness(2);
}
.box11{
    font-size: 3em;
    font-weight: 900;
}
.box12{
    margin-top: 8px;
    font-size: 1.5em;
    font-weight: 500;
}

.box2{
    width:78vw;
    margin: auto;
    margin-top: 7em;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* display: flow-root; */
}
.box23{

    width: 78vw;
    margin: auto;
    display: flex;
    gap: 25px;
    align-items: center;
   
}
.box21{
    font-size: 2em;
    font-weight: 900;
}
.box22{
    display: flex;
    gap: 20px;
}
.j{
    border-radius: 0.2cm;
}
.j:hover{
    transform: scaleX(1.05) scaleY(1.05) ;
}
.i{
    border: 2px solid white;
    width: 100px;
    height: 150px;
    display: flex;
    border-radius: 0.2cm;
    background-color: rgb(56, 53, 53);
    align-items: center;
   justify-content: center;
   font-size: 25px;
   border: none;
    
}
.i:hover{
    filter: brightness(2);
}
.k{
    width: 120px;
    height: 45px;
    background-color: transparent;
    font-size: 1.2em;
    font-weight: 500;
    color: white;
    border: 1px solid gray;
    border-radius: 0.2cm;
    margin-left: 2px;
}
.box4{
    margin: auto;
    width: 78vw;
    margin-top: 90px;
}
.box41{
    font-size: 2em;
    font-weight: 600;
}
.box42{
    background: linear-gradient(97deg, #45172B 1.27%, #120C1F 75.23%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    border-radius: 1cm;
}
.box43{
    font-size: 2em;
    font-weight: 900;
    width: 700px;
}
.box44{
    font-size: 1.1em;
    margin-top: 15px;
    font-weight: 500;
    width: 550px;
    color: gray;
}
.box46{
    margin-left: 40px;
}
.box5{
    width: 78vw;
    display: flex;
    gap: 25px;
    margin: auto;
    margin-top: 20px;
    align-items: center;
    justify-content: center;

}
.box51{
    width: 78vw;
    margin: auto;
    font-size: 1.8em;
    font-weight: 600;
    margin-top: 90px;
}
.box52{
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    width: 18vw;
    height: 38vh;
    display: flex;
    border-radius: 0.5cm;
   
}

.box53{
   
    font-size: 2em;
    font-weight: 900;
    padding: 20px;

}
.box54{
    
    align-self: flex-end;
}
.box6{
    width: 78vw;
    margin: auto;
    margin-top: 90px;
}
.box61{
    font-size: 2em;
    font-weight: 600;
}
.box62{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
   
}
.items{
    width: 60vw;
    color: white;
    background-color: rgb(60, 59, 59);
    font-size: 2em;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    padding: 20px;

}
.box7{
    width: 78vw;
    margin: auto;
    margin-top: 90px;
    color: rgb(178, 176, 176);
}
.que{
    font-size: 1.2em;
    font-weight: 900;
}
.box71{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.item{
    padding: 10px;
    font-size: 17px;
    text-decoration: underline;
    cursor: pointer;
    font-size: 600;

}
.num{
    text-decoration: underline;
    cursor: pointer;
}
.end{
    
    width: 78vw;
    margin: auto;
    margin-top: 90px;
}
.box3{
    color: white;
    width: 78vw;
    margin: auto;

   margin-top: 60px;
   height: 90px;
   font-size: 15px;
   color: rgb(185, 182, 182);
   font-weight: 600;
}